<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Adopt <!-- PET_NAME --></title>
  <link rel="stylesheet" href="../static/CSS/PetStyle.css" />
</head>
<body>
  <div class="adopt-form-container">
    <h2>Adopt <!-- PET_NAME --></h2>
    <form id="adoptionForm"  action="/submit-adoption" method="POST">
  <input type="text" name="full_name" placeholder="Your Full Name" required />
  <input type="email" name="email" placeholder="Your Email" required />
  <textarea name="reason" placeholder="Why do you want to adopt?"></textarea>

  <input type="hidden" name="user_id" id="user_id_input" />
  <input type="hidden" name="pet_id" id="pet_id_input" />
 
  <button type="submit">Submit Adoption Request</button>
</form>
<div id="customAlert" class="custom-alert">
  <div class="custom-alert-content">
    <p id="alertMessage">Your alert message here</p>
    <button id="alertCloseBtn" class="auth-btn">OK</button>
  </div>
</div>
<script src="../static/JS/adoptionForm.js">
  
</script>



  </div>
</body>
</html>
